<footer>
	<div id="footer-content">

		<ul id="footer-meta-menu">
			<li>
				<a href="https://www.kitodo.org/" class="" type="button">KITODO.org</a>
			</li>
			<li>
				<a href="https://www.kitodo.org/impressum/" class="" type="button">Impressum</a>
			</li>
			<li>
				<a href="https://www.kitodo.org/datenschutz/" class="" type="button">Datenschutz</a>
			</li>
		</ul>

<f:if condition="{SHOW-KITODO-PRESENTATTION}">
	<f:then>
		<f:if condition="{DEMO-MODUS}">
			<f:then>
			<p>
			</f:then>
		</f:if>
	</f:then>
	<f:else>
		<f:if condition="{DEMO-MODUS}">
			<f:then>
			<p>
			</f:then>
		</f:if>
	</f:else>
</f:if>

<f:if condition="{SHOW-KITODO-PRESENTATTION}">
	<f:then>
		KITODO.PRESENTATION <span>Version 3.0</span>
	</f:then>
</f:if>
<f:if condition="{DEMO-MODUS}">
	<f:then>
		<strong>DEMO</strong>
	</f:then>
</f:if>

<f:if condition="{SHOW-KITODO-PRESENTATTION}">
	<f:then>
		<f:if condition="{DEMO-MODUS}">
			<f:then>
			</p>
			</f:then>
		</f:if>
	</f:then>
	<f:else>
		<f:if condition="{DEMO-MODUS}">
			<f:then>
			</p>
			</f:then>
		</f:if>
	</f:else>
</f:if>

	</div>
</footer>
